.recipeCardContainer {
    display: flex;
    flex-flow: column nowrap;
    padding: 4rem;
    text-align: justify;
    /* background-color: black;
    color: white; */
}

.recipeCardImage {
    flex: 1; 
    overflow: hidden; 
    max-height: 500px;
    display: flex;
    justify-content: center;
    border-radius: .2rem;
}

.recipeCardImage > img {
    width: 100%; 
    height: auto; 
    object-fit: cover;
    object-position: center;
}

.recipeDescription > .recipeInfo{
    display: flex;
    flex-flow: row wrap;
    margin: 2rem 0;
    align-items: center;
    justify-content: space-between;
}

.recipeDescription > p > span{
    font-weight: bold;
    font-style: italic;
    font-size: 1.3rem;
}

.recipeDescription > p{
    display: flex;
    flex-flow: column nowrap;
}

.recipeDescription > p:nth-child(2){
    margin-bottom: 2rem;
}
