.footerContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 4rem auto 0;
    background-color: gray;
    color: white;
    padding: 2rem 0 4rem;
    gap: 5rem;
}

.footerContainer > .copyrightDiv > p{
    font-size: small;
}

.freshFoodsDiv{
    display: flex;
    flex-flow: row wrap;
    gap: 5rem;
}

.freshFoodsContainer > p > a, .aboutUsDiv > p > a{
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: small;
}

.aboutUsDiv a{
    color: white;
    text-decoration: none;
}

.newsletterDiv{
    display: flex;
    flex-flow: column nowrap;
}

.newsletterDiv > input{
    min-height: 2rem;
    border: none;
    border-radius: .2rem;
}

.newsletterDiv > p{
    font-size: small;
    text-align: center;
}

.newsletterDiv > .socialMediaIcons{
    margin-top: 1rem;
    display: flex;
    flex-flow: row nowrap;
    gap: .5rem;
}

.newsletterDiv > .socialMediaIcons > a:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.freshFoodsContainer > p > a:hover, .aboutUsDiv > p a:hover{
    color: #84bd00;
}
