.filterRecipesContainer {
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
    min-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 2.5rem;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem; /* Adjust font size for smaller screens */
}

h2 {
    color: #84BD00;
    margin-bottom: .5rem;
}

ul li a:hover {
    color: #84BD00;
    cursor: pointer;
    transition: color 0.3s ease;
}

@media screen and (min-width: 768px) {
    .filterRecipesContainer {
        padding: 1rem 4rem; /* Increase padding for larger screens */
    }

    ul li a {
        font-size: 1.1rem; /* Restore font size for larger screens */
    }
}
